* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
  background-color: rgb(248, 243, 236);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}


header {
	background-color: #e8bebe;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

#logo {
	float: left;
}

nav {
	float: right;
	margin-top: 25px;
}

nav ul li {
	display: inline-block;
	margin-left: 20px;
}

nav ul li a {
	color: #333;
	text-decoration: none;
}

/* Main Styles */
main {
	margin-top: 100px;
}

#hero {
	text-align: center;
	margin-bottom: 50px;
}

#hero h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

#hero p {
	max-width: 600px;
	margin: 0 auto; 
}
